{:dependencies [[reagent  "0.8.1"]]
 :source-paths ["src"]
 :builds
 {:dev
  {:target :browser
   ;;Externs issue?
   :modules {:main {:init-fn my.dev/init}}
   :devtools
   {:http-root "public"
    :http-port 8082}}}}
